.wrapper{
    display: flex;
}


.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width:250px;
    height:100vh;
    background:#111827;
    color:#fff;
    padding:25px 15px;
    overflow-y: hidden;
}

.sidebar h2{
    text-align:center;
    margin-bottom:35px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:12px 0;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px 15px;
    border-radius:8px;
    transition:.3s;
}

.sidebar a:hover,
.sidebar a.active{
    background:#374151;
}


.flex-grow-1{
    margin-left: 250px;
    width: calc(100% - 250px);
}

.logout{
    margin-top:40px;
}